#word-wrapper {
	background-color: rgba(168, 218, 220, .4);
	padding: 40px;

	@include media("<sm") {
		background-color: transparent;
		padding: 20px 0px;
	}
}

.word-list {
	list-style: none;
	margin: 20px 0px;
	padding: 0px;

	&.unjumbled {
		.letter {
			background-color: $color_4;
			color: $color_2;
		}
	}

	.letter {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: $color_5;
		color: $color_2;
		border-radius: 50px;
		line-height: 50px;
		text-align: center;
		float: left;
		margin-left: 10px;
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: bold;

		@include media("<sm") {
			width: 40px;
			height: 40px;
			border-radius: 40px;
			line-height: 40px;
			font-size: 1.6rem;
		}
	}

	.letter:first-child {
		margin-left: 0px;
	}
}
