#word-wrapper {
	background-color: rgba(168, 218, 220, .4);
	padding: 40px;
}

.word-list {
	list-style: none;
	margin: 20px 0px;
	padding: 0px;

	&.unjumbled {
		.letter {
			background-color: $color_4;
			color: $color_2;
		}
	}

	.letter {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: $color_5;
		color: $color_2;
		border-radius: 50px;
		line-height: 50px;
		text-align: center;
		float: left;
		margin-left: 10px;
	}

	.letter:first-child {
		margin-left: 0px;
	}
}
